{% extends "layout.twig" %}
{% block title 'Home' %}
{% block content %}
    <section class="hero jumbotron">
        <div class="container">
            <h1>Silex Boilerplate</h1>
        </div>
    </section>
{% endblock %}
